!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}/
    %title Starter Template - Materialize
  %body
    %nav.light-blue.lighten-1{:role => "navigation"}
      .nav-wrapper.container
        %a#logo-container.brand-logo{:href => "#"} Compilador de Markdown
        %ul.right.hide-on-med-and-down
          %li
            %a{:href => "https://github.com/CristianRP/markdown_compiler_rails", target: '_blank'}
              %span Github
        %ul#nav-mobile.sidenav
          %li
            %a{:href => "#"} Navbar Link
        %a.sidenav-trigger{"data-target" => "nav-mobile", :href => "#"}
          %i.material-icons menu
    #index-banner.section.no-pad-bot
      .container
        .row
          .col.m6
            = render 'markdown_card'
          .col.m6#colAst{hidden: true}
            = render 'ast'
        .row#rowSimbolCode{hidden: true}
          .col.m6
            = render 'simbol_table'
          .col.m6
            = render 'generated_code'
            = render 'executed_code'
      %br/
      %br/
    %footer.page-footer.orange
      .container
        .row
          .col.l6.s12
            %h5.white-text Compiladores
            %p.grey-text.text-lighten-4 Proyecto final del curso de compiladores de la Universidad Mariano Gálvez de Guatemala. Desarrollado con Ruby on Rails.
          .col.l3.s12
          .col.l3.s12
      .footer-copyright
        .container
          Made with
          %a.orange-text.text-lighten-3{:href => "http://materializecss.com"} Materialize